body{
    background-color: black;
    background: 2000px;
    
    background-size:340px 200px ;
}
.container{
    
    
   /* background-color: rgb(105, 116, 112);*/
    
    
    height:100vh;

    display:flex;
    
    align-items: center;
    justify-content: center;


    
    
}
.digit{
    padding:10px ;
    background-color: rgb(24, 26, 28);

}
.button{
    border-radius:5px ;
    box-sizing: border-box;
    width:50px;
    height:50px;
}
#display{
    width:200px;
    height:20px;
}
.button1{
    padding:center;
    border-radius:5px ;
    box-sizing: border-box;
    width:50px;
    height:50px;
    background-color: rgb(246, 45, 22);


}

